<%= image_tag @card.img_src %>



<div class="cardinfo">
<%= "##{@card.number}" %>, "<%= @card.name %>"<br>
$<%= number_with_precision(@card.price, :precision => 2) %><br>
</div>







<p>Please enter your payment information:</p>

<%= form_tag("/cards/#{@card.id}/purchase", method: "get", id: "cardForm") do %>

    Name:<br>
    <input type="text" name="name" ><br>
    Address Line 1:<br>
    <input type="text" name="address_line_1" ><br>
    Address Line 2:<br>
    <input type="text" name="address_line_2" ><br>
    City:<br>
    <input type="text" name="city" ><br>
    State:<br>
    <input type="text" name="state_abbr" ><br>
    Zip Code:<br>
    <input type="text" name="zip_code" ><br>
    Card number:<br>
    <div id="card_number" class="hosted-field"></div>  
    CVV:<br>
    <div id="cvv" class="hosted-field"></div>
    Expiration Date:<br>
    <div id="expiration_date" class="hosted-field"></div>  
    Billing zip code:<br>
    <div id="postal_code" class="hosted-field"></div>

    <script> btload(); </script>
    
    <input type="hidden" name="price" value="<%= @card.price %>,">
    
    <input type="submit" id="submitpurchase" value="Submit">
<% end %>
    

